<div bsModal #charitiesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="charity-search-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="charitiesModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a Charity</h4>
      </div>
      <div class="">
        <div class="text-center name-text" *ngIf="totalNumCharitiesFound == 0">
          <p>No matching charities were found</p>
        </div>
        <div class="text-center name-text" *ngIf="totalNumCharitiesFound == 1">
          <p>{{totalNumCharitiesFound}} charity found</p>
        </div>
        <div class="text-center name-text" *ngIf="totalNumCharitiesFound > 1">
          <p>{{totalNumCharitiesFound}} charities found</p>
        </div>
        <ul class="list">
          <li *ngFor="let charity of charities" (click)="handleUserTappedCharityName(charity)" class="item item-modalitem-modal">
            <div class="">
              <div class="col">
                <div class="item-text-wrap"><p class="name-text">{{charity?.CharityName}}</p></div>
                <div class=""><p class="cn-text">{{charity?.CharityCommissionNumber}}</p></div>
              </div>
            </div>
          </li>
        </ul>
        <button class = "button button-positive button-block" (click)="charitiesModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
